.Home-banner {
    height: 100vmin;
}

.Home-banner-img {
    filter: brightness(70%);
    width: 100%;
    height: auto;
    z-index: -1;
}

.Home-banner-caption {
    top: 0px;
    left: 0px;
    position: absolute;

    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    height: 100vmin;
    width: 100%;
}

.Home-banner-caption-h1 {
    margin: 20px;
    font-size: 8vmin;
    position: relative;
    opacity: 0;

    animation-duration: 1s;
    animation-name: fadein, slideup;
    animation-fill-mode: forwards;
}

.Home-banner-caption-h2 {
    margin: 20px;
    font-size: 6vmin;
    position: relative;
    opacity: 0;

    animation-duration: 1s;
    animation-name: fadein, slideup;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
}

.Home-banner-caption-btn {
    margin: 20px;
    width: 30vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    opacity: 0;

    animation-duration: 1s;
    animation-name: fadein, slideup;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.Home-body {
    background-color: white;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideup {
    from {
        top: 100px;
    }

    to {
        top: 0px;
    }
}