.item-img {
  display: block;
  height: 40vw;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  background-color: white;

  border-radius: 20px;
}

.item-img img {
  height: 100%;
  padding: 5%;
}
