.NavBarHome-logo {
    display: inline-block;
    vertical-align: middle;
    height: 2vw;
    min-height: 30px;
}

.NavBarHome-navlink {
    font-size: 1.2em;
    margin-left: 10px;
    margin-right: 10px;
}