.NavBar-transparent {
    transition-duration: .5s;
    transition-timing-function: ease-out;
}

.NavBar-solid {
    background-color: rgba(41, 42, 51, 0.95);
    transition-duration: .5s;
    transition-timing-function: ease-out;
}

.NavBar-logo {
    display: inline-block;
    vertical-align: middle;
    height: 2vw;
    min-height: 30px;
    margin: 5px;
}

.NavBar-navlink {
    font-size: 1.2vmax;
    font-family: Arial;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    transition: .2s;
    transition-timing-function: ease-out;
    border-radius: 2px;
    min-width: 10vw;
}

.NavBar-navlink:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    text-decoration: none;
    text-shadow: #FFFFFF 0px 0px 5px;
}

.NavBar-routelink {
    color: white;
    text-decoration: none;
}

.NavBar-routelink:hover {
    color: white;
    text-decoration: none;
}

.NavBar-lang {
    position: relative;
    top: -15px;
}

.NavBar-lang::before {
    content: url('../assets/images/navbar/i18n_icon.svg');
    position: relative;
    left:-70px;
    top: 38px;
    width: 10px;
    height: 10px;
}