.Partners-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Partners-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 24vmin;
    height: 24vmin;
    
    margin: 10px;
    margin: 10px;
}

.Partners-item img {
    padding: 2vmin;
    background-color: white;
    border-radius: 10%;

    width: 22vmin;
    height: 22vmin;

    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.Partners-item img:hover {
    width: 24vmin;
    height: 24vmin;
}
